[Unit]
Description=Kearney Application - Docker Compose
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/root/kearney
ExecStart=/usr/bin/docker-compose -f docker-compose.prod.yml up -d
ExecStop=/usr/bin/docker-compose -f docker-compose.prod.yml down
RemainAfterExit=yes
Restart=on-failure
RestartSec=10s

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
